<%@ Page Language="C#" MasterPageFile="~/Main_Master_Page.master" AutoEventWireup="true" CodeFile="Home_Page.aspx.cs" Inherits="Home_Page" Title="Vodafone Billing Application HomePage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table style="width: 100%;" align="center">
 <tr>
    <td style="background-color:#e6f1f8; height: 2px; width: 70%;" >
    <span  style="font-size:11pt; font-weight:bold; color:#000080; font-family:Courier New;">
        &nbsp; HomePage </span>
    </td></tr>
 </table>
  <table style="width: 100%; height: 400px">
                <tr>
                    <td style="width: 100px">
                    </td>
                    <td style="width: 100px">
                    </td>
                    <td style="width: 100px">
                    </td>
                    <td style="width: 100px">
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="4" style="height: 331px">
                        <asp:Image ID="Image1" runat="server" Height="400px" ImageAlign="Middle" ImageUrl="~/Images/intro.png" /></td>
                </tr>
                <tr>
                    <td align="center" colspan="4">
                        &nbsp;</td>
                </tr>
                <tr>
                    <td style="width: 100px; height: 19px">
                    </td>
                    <td style="width: 100px; height: 19px">
                    </td>
                    <td style="width: 100px; height: 19px">
                    </td>
                    <td style="width: 100px; height: 19px">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                    </td>
                    <td colspan="2">
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px">
                    </td>
                    <td style="width: 100px">
                    </td>
                    <td style="width: 100px">
                    </td>
                    <td style="width: 100px">
                    </td>
                </tr>
            </table>
 
</asp:Content>

