<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Main_Master_Page.master.cs" Inherits="Main_Master_Page" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<script language="javascript" type="text/javascript">
function TABLE1_onclick() {

}
</script>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Vodafone Billing System</title>
  
    <link href="css/StyleSheet.css" rel="stylesheet" type="text/css" />
    <link href="css/StyleSheet2.css" rel="stylesheet" type="text/css" />
       
        <meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="C#" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
		<script language="javascript" src="JavaScript/HGridScript.js"></script>
    <style type="text/css">
        .style1
        {
            width: 6px;
            height: 21px;
        }
        .style2
        {
            width: 130px;
            height: 21px;
        }
        .style4
        {
            width: 132px;
            height: 21px;
        }
        .style5
        {
            width: 100px;
            height: 21px;
        }
        .style7
        {
            width: 100%;
            height: 100px;
            float: right;
        }
    </style>
</head>
<body style=' background-image: url(<%=ResolveClientUrl("~/Images/back.jpg")%>); background-repeat: no-repeat; width: 100%; height: 100px;' >
    <form id="form1" runat="server"  dir="rtl">
    <div>
        <table style="width: 100%" >
            <tr>
                <td align="center" bgcolor="#FF9900" colspan="5" 
                    style="height: 21px; font-weight: bold; color: #FFFFFF;">
                    <p class="MsoNormal">
                        <span>EGYPTIAN GERMAN INDUSTRIAL CORPORATE SAE</span></p>
                </td>
            </tr>
            <tr dir="ltr">
                <td class="style1">
                    <asp:Label ID="Label1" runat="server" Font-Bold="True" Font-Names="Tahoma" Font-Size="11px"
                        ForeColor="#000040" Height="14px" Text="Welcome" Width="74px"></asp:Label>
                    <asp:Label ID="lbl_welcome" runat="server" Font-Bold="True" Font-Names="Tahoma"
                        Font-Size="11px" ForeColor="Red" Height="14px" Width="135px"></asp:Label></td>
                <td class="style1">
                    <asp:Label ID="Label3" runat="server" Font-Bold="True" Font-Names="Tahoma" Font-Size="11px"
                        ForeColor="#000040" Height="16px" Text="Date" Width="86px"></asp:Label>
                    <asp:Label ID="lbl_login_date" runat="server" Font-Bold="True" Font-Names="Tahoma"
                        Font-Size="11px" ForeColor="Red" Height="14px" Width="139px"></asp:Label></td>
                <td class="style2">
                    &nbsp;<asp:Label ID="Label2" runat="server" Font-Bold="True" Font-Names="Tahoma"
                        Font-Size="11px" ForeColor="#000040" Height="14px" Text="User Name" 
                        Width="95px"></asp:Label>
                    <asp:Label ID="lbl_login_name" runat="server" Font-Bold="True" Font-Names="Tahoma"
                        Font-Size="11px" ForeColor="Red" Height="14px" Width="140px"></asp:Label>
                </td>
                <td class="style4">
                    <asp:Label ID="Label7" runat="server" Font-Bold="True" Font-Names="Tahoma" Font-Size="11px"
                        ForeColor="#000040" Height="14px" Text="Time" Width="95px"></asp:Label>
                    <asp:Label ID="lbl_comp_name" runat="server" Font-Bold="True" Font-Names="Tahoma"
                        Font-Size="11px" ForeColor="Red" Height="16px" Width="142px"></asp:Label><br />
                    </td>
                <td class="style5">
                    <asp:HyperLink ID="HyperLink1" runat="server" Font-Bold="True" Font-Names="Courier New"
                        Font-Size="14px" ForeColor="Maroon" Height="14px"
                        TabIndex="200" Width="85px" NavigateUrl="~/Home_Page.aspx">Home</asp:HyperLink></td>
            </tr>
            <tr>
                <td align="center" colspan="5" style="height: 15px">
                    <div align="center" style="text-align: center" >
                        &nbsp;&nbsp; 
                        <asp:Label ID="Label5" runat="server" Font-Bold="True" Font-Italic="False" Font-Names="Eras Demi ITC"
                            Font-Size="20pt" ForeColor="Navy" Width="484px">Vodafone Business Billing 
                        System</asp:Label>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="5" width="100%" align="center" bgcolor="Red">
                    <table id="TABLE1" width="100%" language="javascript" onclick="return TABLE1_onclick()">
                        <tr>
                            <td width="100%" dir="rtl" > 
                                &nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td bgcolor="Black" colspan="5" width="100%" dir="ltr" align="left">
                    <asp:Menu ID="Menu1" runat="server" BackColor="Black" 
                        DynamicHorizontalOffset="2" Font-Bold="True" Font-Names="Eras Demi ITC" 
                        Font-Size="16pt" ForeColor="White" Orientation="Horizontal" 
                        StaticSubMenuIndent="10px" Width="98%">
                        <StaticSelectedStyle BackColor="#507CD1" />
                        <StaticMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                        <DynamicHoverStyle BackColor="#284E98" ForeColor="White" />
                        <DynamicMenuStyle BackColor="#B5C7DE" />
                        <DynamicSelectedStyle BackColor="#507CD1" />
                        <DynamicMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" 
                            BackColor="#FF3300" />
                        <StaticHoverStyle BackColor="#284E98" ForeColor="White" />
                        <Items>
                            <asp:MenuItem Text="Master Data" Value="01" ImageUrl="~/plus.gif">
                                <asp:MenuItem Text="New User" Value="11" 
                                    NavigateUrl="~/Master_Data/new_user.aspx"></asp:MenuItem>
                                <asp:MenuItem NavigateUrl="~/Master_Data/new_line.aspx" Text="New Line" 
                                    Value="12"></asp:MenuItem>
                                <asp:MenuItem NavigateUrl="~/Master_Data/outsourcing.aspx" 
                                    Text="New OutSourcing Employee" Value="13"></asp:MenuItem>
                            </asp:MenuItem>
                            <asp:MenuItem Text="Transaction" Value="02" ImageUrl="~/plus.gif">
                                <asp:MenuItem Text="New Bill Document" Value="21" 
                                    NavigateUrl="~/Trans/new_bill.aspx"></asp:MenuItem>
                                <asp:MenuItem NavigateUrl="~/Master_Data/not_saved_data.aspx" 
                                    Text="Not Saved Lines" Value="22"></asp:MenuItem>
                                <asp:MenuItem NavigateUrl="~/Master_Data/Duplicate_Employee.aspx" 
                                    Text="Duplicate Employee" Value="Duplicate Employee"></asp:MenuItem>
                                <asp:MenuItem NavigateUrl="~/Master_Data/Duplicate_lines.aspx" 
                                    Text="Duplicate Lines" Value="Duplicate Lines"></asp:MenuItem>
                            </asp:MenuItem>
                            <asp:MenuItem Text="Reports" Value="03" ImageUrl="~/plus.gif">
                                <asp:MenuItem Text="Bill by Date" Value="31" 
                                    NavigateUrl="~/Reports/bill_by_date.aspx"></asp:MenuItem>
                                <asp:MenuItem Text="Bill By Bill Number" Value="32" 
                                    NavigateUrl="~/Reports/bill_by_number.aspx"></asp:MenuItem>
                                <asp:MenuItem NavigateUrl="~/Reports/bill_by_emp.aspx" Text="Bill By Employee" 
                                    Value="33"></asp:MenuItem>
                                <asp:MenuItem NavigateUrl="~/Reports/lines_report.aspx" Text="Lines Data" 
                                    Value="34"></asp:MenuItem>
                            </asp:MenuItem>
                            <asp:MenuItem Text="About" Value="04" ImageUrl="~/plus.gif">
                                <asp:MenuItem Text="Exit" Value="41" NavigateUrl="~/Login.aspx"></asp:MenuItem>
                            </asp:MenuItem>
                        </Items>
                    </asp:Menu>
                </td>
            </tr>
        </table>
    </div>
      
        <br />
    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        <p>
            <br />
        </p>
        <p>
        </p>
        <p>
        </p>
        <p>
        </p>
    </asp:ContentPlaceHolder>
    <table align="center" class="style7">
        <tr>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td align="center" colspan="2">
                &nbsp;</td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
    </table>
    </form>
</body>
</html>
