﻿<%@ Page Language="C#" MasterPageFile="~/Main_Master_Page.master" AutoEventWireup="true" CodeFile="Unauthorized_Pg.aspx.cs" Inherits="Setting_Unauthorized_Pg" Title="غير مصرح بالدخول" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <tr>
    <td style="background-color:#e6f1f8; height: 2px; width: 70%;" >
    <span  style="font-size:11pt; font-weight:bold; color:#000080; font-family:Courier New;">
        &nbsp; غير مصرح لك بالدخول </span>
    </td></tr>
 </table>
  <table style="width: 100%; height: 400px">
                <tr>
                    <td style="width: 100px">
                    </td>
                    <td style="width: 100px">
                    </td>
                    <td style="width: 100px">
                    </td>
                    <td style="width: 100px">
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="4" style="height: 331px">
                        <asp:Image ID="Image1" runat="server" Height="400px" ImageAlign="Middle" 
                            ImageUrl="~/Images/blog_noaccess.png" /></td>
                </tr>
                <tr>
                    <td style="width: 100px">
                    </td>
                    <td style="width: 100px">
                    </td>
                    <td style="width: 100px">
                    </td>
                    <td style="width: 100px">
                    </td>
                </tr>
                <tr>
                    <td style="height: 19px" align="center" colspan="4">
                        <asp:Label ID="Label8" runat="server" Font-Bold="True" Font-Names="Arial" 
                            Font-Size="25pt" Text="عفواً ليس لديك صلاحية لدخول هذه الصفحة"></asp:Label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                    </td>
                    <td colspan="2">
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px">
                    </td>
                    <td style="width: 100px">
                    </td>
                    <td style="width: 100px">
                    </td>
                    <td style="width: 100px">
                    </td>
                </tr>
            </table>
</asp:Content>

